.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Лейбл */
.label {
  font-family: var(--font-manrope);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-gray);
}

/* Инпут */
.input {
  width: 160px;
  height: 44px;

  background: var(--color-bg-light-2);
  border-radius: 12px;
  border: 1px solid var(--color-border);

  padding: 0 18px;

  font-family: var(--font-manrope);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-dark);

  outline: none;
}

.input::placeholder {
  color: var(--color-gray);
}

.input:focus {
  border-color: var(--color-blue-main);
}
