.wrapper {
  width: 924px;
  margin: 84px auto 56px auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: var(--font-manrope);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #8d929a;
}

.select {
  width: 204px;
  height: 44px;
  background: #f7f7f7;
  border-radius: 12px;

  padding: 12px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: var(--font-manrope);
  font-size: 16px;
  font-weight: 500;
  color: #101828;

  cursor: pointer;
}

.arrow {
  margin-top: 4px;
}

.mileageBox {
  width: 320px;
  height: 44px;
  background: #f7f7f7;
  border-radius: 12px;

  display: flex;
  align-items: center;
}

.mileageField {
  width: 50%;
  height: 100%;
  padding-left: 16px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.mileageText {
  font-family: var(--font-manrope);
  font-size: 16px;
  font-weight: 500;
  color: #101828;
}

.mileageInput {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;

  font-family: var(--font-manrope);
  font-size: 16px;
  font-weight: 500;
  color: #101828;
}

.mileageInput::-webkit-inner-spin-button,
.mileageInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.divider {
  width: 1px;
  height: 44px;
  background: #dadde1;
}

.searchBtn {
  width: 120px;
  height: 44px;

  border-radius: 12px;
  border: none;
  background: #3470ff;

  font-family: var(--font-manrope);
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;

  cursor: pointer;
}

.searchBtn:hover {
  background: #0b44cd;
}
