.hero {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.content {
  position: absolute;
  top: 436px;
  left: 50%;
  transform: translateX(-50%);
  width: 783px;
  height: 204px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  z-index: 3;
}

.title {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
}

.subtitle {
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

.button {
  width: 276px;
  height: 44px;
  background-color: var(--color-blue-main);
  color: #ffffff;

  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;

  display: flex;            
  justify-content: center;  
  align-items: center;      

  flex-shrink: 0;          
}


.button:hover {
  background-color: var(--color-blue-hover);
}

