.formWrapper {
  width: 640px;
  padding: 32px;
  border-radius: 10px;
  background: var(--color-white);
  border: 1px solid var(--color-border);
}

.formTitle {
  font-size: 20px;
  font-weight: 600;
}

.formSubtitle {
  margin: 8px 0 24px;
  font-size: 14px;
  color: var(--color-gray);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* ОБЁРТКА */
.fakeInputWrapper {
  position: relative;
  width: 100%;
}

/* placeholder */
.fakePlaceholder {
  position: absolute;
  left: 20px;
  top: 12px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-gray);
  pointer-events: none;
  z-index: 2;
}

.placeholderHidden {
  opacity: 0;
  pointer-events: none;
}

.textareaPlaceholder {
  top: 14px;
}

/* INPUT */
.realInput {
  width: 100%;
  height: 44px;
  padding: 14px 20px 10px;
  border-radius: 12px;
  border: none;
  background: var(--color-bg-light-2);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-dark);
  outline: none;
}

/* NAME + EMAIL */
.realInputName {
  padding-left: 72px;
}

.realInputEmail {
  padding-left: 72px;
}

/* DATE */
.realInputDate {
  padding-left: 20px;
  padding-right: 52px;
  padding-top: 14px;
  padding-bottom: 10px;
}

/* Скрытое поле для календаря */
.hiddenDateInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  z-index: -1;
}

/* Иконка */
.calendarIcon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 3;
}

/* TEXTAREA */
.textarea {
  min-height: 80px;
  padding: 14px 20px 10px;
  border-radius: 12px;
  border: none;
  background: var(--color-bg-light-2);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-dark);
  outline: none;
  resize: vertical;
}

/* SUBMIT */
.submitButton {
  width: 156px;
  height: 44px;
  margin: 0 auto;
  border-radius: 40px;
  background: var(--color-blue-main);
  border: none;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.submitButton:hover {
  background: var(--color-blue-hover);
}