/* Основная кнопка */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-manrope), sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  white-space: nowrap;

  border-radius: 12px;
  cursor: pointer;

  border: none;
  outline: none;
  box-shadow: none !important;
  background: transparent;

  transition: background-color 0.2s ease,
              border-color 0.2s ease,
              color 0.2s ease;
}

/* PRIMARY */
.primary {
  background-color: var(--color-blue-main);
  color: var(--color-white);
}

.primary:hover {
  background-color: var(--color-blue-hover);
}

/* Размеры primary */
.primaryLarge {
  width: 276px;
  height: 44px;
  padding: 12px 99px;
}

.primaryMedium {
  width: 120px;
  height: 44px;
  padding: 12px 0;
}

.primarySmall {
  width: 100px;
  height: 20px;
  padding: 0;
}

/* SECONDARY */
.secondary {
  background-color: var(--color-white);
  color: var(--color-dark);
  border: 1px solid var(--color-blue-main);
}

.secondary:hover {
  border-color: var(--color-blue-hover);
  color: var(--color-blue-hover);
}

/* Размеры secondary */
.secondaryMedium {
  width: 156px;
  height: 44px;
  padding: 12px 51px;
}

.secondarySmall {
  width: 80px;
  height: 20px;
  padding: 0;
}
