* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-manrope);
  background-color: var(--color-white);
  color: var(--color-dark);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --color-dark: #101828;
  --color-gray: #8e929a;
  --color-blue-main: #3470ff;
  --color-blue-hover: #0b44cd;
  --color-border: #dadde1;
  --color-bg-light: #f2f4f7;
  --color-bg-light-2: #f7f7f7;
  --color-white: #ffffff;

  --shadow-soft: 0 8px 24px rgba(16, 24, 40, 0.06);

  --font-manrope: "Manrope", sans-serif;

  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1440px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
}
