* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  font-family: var(--font-manrope);
  background-color: var(--color-white);
  color: var(--color-dark);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --color-dark: var(--color-dark);
  --color-gray: var(--color-gray);
  --color-blue-main: var(--color-blue-main);
  --color-blue-hover: var(--color-blue-hover);
  --color-border: var(--color-border);
  --color-bg-light: var(--color-bg-light);
  --color-bg-light-2: var(--color-bg-light-2);
  --color-white: var(--color-white);

  --shadow-soft: 0 8px 24px rgba(16, 24, 40, 0.06);

  --font-manrope: "Manrope", sans-serif;

  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1440px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
}
