.header {
  width: 100%;
  background: #fff;

  padding-top: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid #F2F4F7;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list{
      font-family: var(--font-manrope, Manrope), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #101828;
  cursor: pointer;
}

.list:hover{
    color: #0B44CD;
}