.wrapper {
  position: relative;
  width: 204px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-gray);
}

.select {
  width: 100%;
  height: 44px;

  border-radius: 12px;
  border: 1px solid var(--color-border);
  background: var(--color-bg-light-2);

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 12px 44px 12px 16px;
  cursor: pointer;

  font-family: var(--font-manrope);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;

  position: relative;
}

.select::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--color-dark);
}

.value {
  color: var(--color-dark);
}

.placeholder {
  color: var(--color-gray);
}

.dropdown {
  position: absolute;
  top: 70px;
  left: 0;

  width: 100%;
  max-height: 188px;
  overflow-y: auto;

  background: var(--color-white);
  border-radius: 12px;
  border: 1px solid var(--color-border);
  box-shadow: 0 4px 36px rgba(0, 0, 0, 0.06);

  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  z-index: 1000;
}

.option {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-gray);
  cursor: pointer;
}

.option:hover {
  color: var(--color-blue-main);
}

