.wrapper {
  position: relative;
  width: 204px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* label над кнопкой */
.label {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #8D929A;
}

/* сама кнопка селекта */
.select {
  width: 100%;
  height: 44px;

  border-radius: 12px;
  border: 1px solid #DADDE1;
  background: #F7F7F7;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 12px 44px 12px 16px; /* справа больше, под стрелку */

  cursor: pointer;

  font-family: var(--font-manrope);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;

  position: relative;
}

/* стрелка вниз как в макете */
.select::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #101828; /* тёмная стрелка */
}

/* текст внутри */
.value {
  color: #101828;
}

.placeholder {
  color: #8D929A;
}

/* dropdown */
.dropdown {
  position: absolute;
  top: 70px;
  left: 0;

  width: 100%;
  max-height: 188px;
  overflow-y: auto;

  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #f7f7f7;
  box-shadow: 0 4px 36px rgba(0, 0, 0, 0.04);

  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 10;
}

.option {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #8d929a;
  cursor: pointer;
}

.option:hover {
  color: #3470ff;
}
